:root {
  --dark1: #1c222c;
  --dark2: #2d3748;
  --light1: #f4f3f1;
  --med1: #7f8ea1;
  --med2: #555a5e;
  --med3: #2d3748;

  --accent1: #7ca8a1;
  --accent2: #c09bd8;

  --ui-padding1: 0.6rem;
  --ui-padding2: 0.5rem;
  --ui-padding3: 0.25rem;

  --ui-font-size1: 0.9rem;
  --ui-font-size2: 1.1rem;
  --ui-font-size3: 0.8rem;
}
.ui-heading {
  letter-spacing: 1px;
  font-size: var(--ui-font-size3);
  font-weight: bold;
}
.ui-heading h3 {
  margin: 0;
  padding: 0;
  margin-bottom: var(--ui-padding2);
}

button {
  font-size: var(--ui-font-size1);
  font-weight: bold;
}

body {
  font-family: monospace;
  background-color: var(--dark2);
  color: var(--light1);
  padding: 0;
  margin: var(--ui-padding1);
  font-size: var(--ui-font-size1);

}

.ui-element1 {
  border: 1px solid var(--med1);
  color: var(--light1);
  padding: var(--ui-padding1);
  border-radius: 6px;
}
.ui-element2 {
  border: 1px solid var(--med2);
  padding: var(--ui-padding2) var(--ui-padding2);
  border-radius: 3px;
}

button {
  background-color: var(--light1);
  border: 1px solid var(--dark1);
  box-shadow: var(--med1) -2px 2px;
  color: var(--med3);
  padding: var(--ui-padding3);
}

button:active {
  background-color: #e0e3e1;
  transform: translateX(-1px) translateY(1px);
  box-shadow: none;
}

#app {
  display:contents;
}